<a href="https://colab.research.google.com/github/JaclynOrtiz/MineriaDatos/blob/main/Ej_python_1851895.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EJERCICIO 1**

In [11]:
# Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.
mat = 1851895
nom = "Jaclyn Lizeth Ortiz Cruz"
print(f"{str(mat)} - {nom}")

1851895 - Jaclyn Lizeth Ortiz Cruz

**EJERCICIO 2**

In [20]:
# Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.
n1 = float(input("Introduce un primer número: " ))
n2 = float(input("Introduce un segundo número: "))

suma = n1+n2
resta = n1-n2
mult = n1*n2
div = n1/n2
exp = n1**n2

print("Suma: ", suma)
print("Resta: ", resta)
print("Multiplicación: ", mult)
print("División: ", div)
print("Exponente: ", exp)

Introduce un primer número: 2
Introduce un segundo número: 3
Suma:  5.0
Resta:  -1.0
Multiplicación:  6.0
División:  0.6666666666666666
Exponente:  8.0

**EJERCICIO 3**

In [37]:
# Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.
a = 0
suma = 0
for i in range(1,11):
  a = 3*i
  suma = a+suma
  print(a)
print("La suma del arreglo es: ",suma)

3
6
9
12
15
18
21
24
27
30
La suma del arreglo es:  165

**EJERCICIO 4**

In [90]:
# Con una función de if else, revisar si un número es par o es impar.
num = int(input("Introduce un número: "))
if num % 2 == 0:
  print("El número %d es par" %num)
else:
  print("El número %d es impar" %num)

Introduce un número: 5
El número 5 es impar

In [6]:
# Con una función de if else, revisar si un número es primo o no.
numero = int(input("Introduce un número: "))
def es_primo(num):
  if num < 2:
    return False

  for i in range(2,num):
    if num % i == 0:
      return False
  return True

print(es_primo(numero))

Introduce un número: 78
False

**EJERCICIO 5**

In [40]:
def calcular(a,b):
  suma=a+b
  resta=a-b
  mult=a*b
  div=a/b
  exp=a**b
  print("Suma: ",suma)
  print("Resta: ",resta)
  print("Multiplicacion: ",mult)
  print("Division: ",div)
  print("Exponente: ",exp)

calcular(3.5,5)

Suma:  8.5
Resta:  -1.5
Multiplicacion:  17.5
Division:  0.7
Exponente:  525.21875

**Tuplas**

In [45]:
# Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
x = 1
y = 2.4
z = True
u = 3j+1
print("La variable %d es de tipo: " %x, type (x))
print("La variable %f es de tipo: " %y, type (y))
print("La variable %s es de tipo: " %z, type (z))
print("La variable %s es de tipo: " %u, type (u))

La variable 1 es de tipo:  <class 'int'>
La variable 2.400000 es de tipo:  <class 'float'>
La variable True es de tipo:  <class 'bool'>
La variable (1+3j) es de tipo:  <class 'complex'>

In [91]:
# Crear una tupla con valores enteros imprimir el primer y ultimo valor.
t = (1,2,3,4,5)
type(t) 
v1 = t[0] # extraer el primer valor de la tupla
v2 = t[-1] # extraer el ultimo valor de la tupla

print("El numero %d es el primer valor de la tupla" %v1)
print("El numero %d es el ultimo valor de la tupla" %v2)

El numero 1 es el primer valor de la tupla
El numero 5 es el ultimo valor de la tupla

In [99]:
# Añadir 3 valores de string a la tupla.
t = (1,2,3,4,5)
t = t.__add__(('a','b','c',))
t

(1, 2, 3, 4, 5, 'a', 'b', 'c')

In [103]:
# Verificar si una variable existe dentro de la tupla.
t = (1,2,3,4,5)
'a' in t

False

**Listas**

In [ ]:
# Crear una lista con 40 elementos aleatorios enteros.
for i in range(1,100):
  a = i
  import random
  print (random.randint(1,40))

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [59]:
#NUMEROS PARES
def pares(x):
    par = []
    for n in x:
        if n % 2 == 0:
            par.append(n)     
    return par
a = pares(L)
#NUMEROS IMPARES
def impares(x):
    imp = []
    for n in x:
        if n % 2 != 0:
            imp.append(n)       
    return imp 
b = impares(L)
print ("La lista de pares es: ", a)
print ("La lista de impares es: ", b)

La lista de pares es:  [8, 20, 2, 20, 2, 16, 12, 16, 22, 18, 6, 6, 6, 8, 2, 20, 14, 4, 12, 24, 6, 22, 12, 14, 8, 24, 2, 6, 4, 2, 8, 20, 10, 16, 8, 2, 18, 10, 12, 8, 22, 22, 2, 8]
La lista de impares es:  [21, 25, 15, 13, 17, 1, 17, 21, 17, 3, 1, 25, 9, 17, 7, 13, 1, 1, 13, 13, 1, 9, 19, 23, 7, 5, 19, 5, 5, 11, 23, 21, 9, 7, 13, 1, 23, 13, 25, 1, 21, 3, 19, 11, 21, 1, 17, 25, 21, 1, 23, 1, 7, 15, 5, 11]

**Diccionarios**

In [137]:
# Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
dict1 = {'Laura': 16, 'Francisco': 19, 'Karla': 15,'Monse': 21, 'Adrian': 39, 'Alicia': 25}
dict1

{'Adrian': 39,
 'Alicia': 25,
 'Francisco': 19,
 'Karla': 15,
 'Laura': 16,
 'Monse': 21}

In [147]:
# Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
dict1 = {'Laura': 16, 'Francisco': 19, 'Karla': 15,'Monse': 21, 'Adrian': 39, 'Alicia': 25}
lista = list(dict1.values())
a = sorted(lista)
a

[15, 16, 19, 21, 25, 39]

In [153]:
# Usando el diccionario y un loop, imprimir solo los nombres.
dict1 = {'Laura': 16, 'Francisco': 19, 'Karla': 15,'Monse': 21, 'Adrian': 39, 'Alicia': 25}
for i in dict1: print(i)

Laura
Francisco
Karla
Monse
Adrian
Alicia

In [152]:
# Añadir dos personas nuevas a tu diccionario, incluyendo edad.
dict1 = {'Laura': 16, 'Francisco': 19, 'Karla': 15,'Monse': 21, 'Adrian': 39, 'Alicia': 25}
dict1['Beatriz']=50
dict1['Roberto']=48
dict1

{'Adrian': 39,
 'Alicia': 25,
 'Beatriz': 50,
 'Francisco': 19,
 'Karla': 15,
 'Laura': 16,
 'Monse': 21,
 'Roberto': 48}

**Sets**

In [ ]:
# Crea un set con 100 numeros aleatorios enteros del 1 al 25.
import random
for i in range(100):
  x = random.randint(1,25)
  print(x)

In [ ]:
# Comprueba la longitud de tu set.
len(set1)

In [35]:
# Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.
import random
for i in range(5):
  x = random.randint(1,10)
  print(x)

6
7
7
2
2